[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
fastapi = "*"
uvicorn = "*"
json-checker = "*"
jsonschema = "*"
pandas = "*"
python-dotenv = "*"
pytz = "*"
requests = "*"
rshell = "*"
sqlalchemy = "*"
werkzeug = "*"
sqlmodel = "*"
gunicorn = "*"
adafruit-ampy = "*"
sensirion-i2c-sgp4x = {editable = true, git = "https://github.com/Sensirion/python-i2c-sgp4x.git"}

[dev-packages]
pytest = "*"
ruff = "*"
esptool = "*"

[requires]
python_version = "3.12"
