# WiFi Credentials
WIFI_SSID = "your_wifi_ssid"
WIFI_PASSWORD = "your_wifi_password"

# Server Configuration
SERVER_IP = "192.168.86.250"
SERVER_PORT = 5000

# NTP Server
NTP_HOST = "1.nz.pool.ntp.org"

# Device Settings
SLEEP_TIME_MINUTES = 15 
